html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    background-color: #1b6345;
    overflow-x: hidden;
}
main {
    height: 100%;
}
a{
    text-decoration: none;
    color: black;
}
.enter-text {
    color: white;
}
.enter-text:hover{
    color:black;
}
.w-100 {
    width: 100%;
}
.pb-font-size {
    padding-bottom: 1.2rem;
}
.justify-between {
    justify-content: space-between;
}
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.flex-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
}
.entry-page{
    background: #5ea06c;
  }
.navbar{
    gap: 1.2rem;
}
.container{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.entry-page {
    background-color: #1b6345;
    height: 100%;
}
.wrapper {
    padding: 0px 15px 0 15px;
}