html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
    overflow-x: hidden;
}
main {
    height: 100%;
}
p {
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
.w-100 {
    width: 100%;
}
.w-60 {
    width: 60%;
}
.w-50{
    width: 50%;
}
.w-40 {
    width: 40%;
}
.pb-font-size {
    padding-bottom: 1.2rem;
}
.justify-between {
    justify-content: space-between;
}
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.flex-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.entry-page {
    background-color: white;
    height: 100vh;
}
.enter-same{
    font-size: 2.2rem !important;
    margin: 0;
}
.enter-text {
    text-decoration: underline;
}
.enter-text:hover{
    color:black;
}
.navbar {
    padding: 15px;
}
.logo {
    width: 50vw;
}
.menu{
    gap: 1.2rem;
    width: 50vw;
}
.menu-item:hover {
    color:#237d57;
}
.enter-green{
    color: #237d57;
}
.plr-15 {
    padding: 0px 15px 0 15px;
}
